@model Senken.Models.Session

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Session</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

       

        <dt>
            @Html.DisplayNameFor(model => model.Rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OscIFrequency)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OscIFrequency)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OscIType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OscIType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WaveBucket)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WaveBucket)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LFOIFrequency)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LFOIFrequency)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LFOIScale)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LFOIScale)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LFOIType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LFOIType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CompressorRatio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompressorRatio)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CompressorKnee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompressorKnee)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CompressorThreshold)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompressorThreshold)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BiquadFilterTypeOne)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BiquadFilterTypeOne)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BiquadFilterFrequencyOne)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BiquadFilterFrequencyOne)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BiquadFilterQOne)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BiquadFilterQOne)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BiquadFilterGainOne)
        </dt>
        
        <dd>
            @Html.DisplayFor(model => model.BiquadFilterGainOne)
        </dd>

     
        
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SessionID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
