@using System.Data.Entity
@using Microsoft.AspNet.Identity
@using Senken
@using Senken.Models

@model IEnumerable<Senken.Models.Session>

@{
    ViewBag.Title = "Sessions";
}

<h2>@ViewBag.Title.</h2>
<h4 >Create or connect to a session</h4>
<hr />

<br />
<br />

<div id="startSessionButtonDiv" align="center">
    <div class="col-md-4" align="center">
        <div class="homeButton">
            <a href="~/Session/Create">

                <input type="button" value="Create new" class="homeButton" />

            </a>
        </div>
    </div>
</div>


<br />


<!--User's Sessions-->


<div id="privateSessionTableDiv">
    <table class="table" id="privateSessionsTable">
        <caption> Private Sessions </caption>
        <tr>
            <th scope="col">
                Session
            </th>

            <th scope="col">
                @Html.DisplayNameFor(model => model.User_Id.UserName)
            </th>
           
            <th scope="col">
            </th>

        </tr>



        @foreach (var item in ApplicationDbContext.Create().Sessions.ToList())
        {

            if (!item.OpenToEvolution)
            {
                <tr class="privateSessionRow">

                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                   

                    <td>
                        @Html.DisplayFor(modelItem => item.User_Id.UserName)
                    </td>

                   
                    <td class="visitTableData">
                        @Html.ActionLink("Open", "Edit", new { id = item.SessionID }) 

                    </td>


                </tr>
            }
            
        }


</table>


</div>




    <!--All Sessions-->





    <div id="publicSessionTableDiv">
        <table class="table" id="publicSessionsTable">
            <caption> Open Sessions </caption>
            <tr>
                <th>
                    Session
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.User_Id.UserName)
                </th>
                
                <th>
                </th>

            </tr>



            @foreach (var item in ApplicationDbContext.Create().Sessions.ToList())
            {
            if (item.OpenToEvolution)
            {
                <tr class="sharableSessionRow">

                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>


                    <td>
                        @Html.DisplayFor(modelItem => item.User_Id.UserName)
                    </td>
                    
                    <td class="visitTableData">
                        @Html.ActionLink("Connect", "Edit", new { id = item.SessionID }) 
                    </td>
                </tr>
                }
            }

</table>


</div>



