@using Microsoft.AspNet.Identity
@using Senken.Models
@model Senken.Models.IndexViewModel
     


<div id="manageField">

    <h2 id="manageHeader">Manage</h2>

    <br /><br />

    <p class="text-success">@ViewBag.StatusMessage</p>
    <div>


        <dl>

            <dd>
                [
                @if (Model.HasPassword)
                {
                    @Html.ActionLink("Change your password", "ChangePassword")
                }
                else
                {
                    @Html.ActionLink("Create", "SetPassword")
                }
                ]
            </dd>


        </dl>
    </div>

    <br /><br />

    

    <div id="personalSessionsTableDiv">
        <table id="personalSessionsTable">
            <caption> Personal Sound Research</caption>
            <tr>
                <th>
                   
                </th>

                <th>

                </th>

            </tr>


            @foreach (var item in (ApplicationDbContext.Create().Sessions.ToList()))
            {
                if (User.Identity.GetUserId().Equals(item.User_Id.Id))
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>

                        <td>
                            @Html.ActionLink("Open", "Session", item.SessionID)


                        </td>


                    </tr>

                }

            }


        </table>

    </div>

</div>