@model Senken.Models.Musician

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Musician</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstMidName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstMidName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SessionDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SessionDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sessions)
        </dt>
        <dd>
            <table class="table">
                <tr>
                    <th>InstrumentSetup Name</th>
                    <th>Rating</th>
                </tr>
                @foreach (var item in Model.Sessions)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.InstrumentSetup.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Rating)
                        </td>
                    </tr>
                }
            </table>
        </dd>


    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
